body {
  margin: 0;
  color: #40514e;
  font-size: 1.08em;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 6rem;
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
  line-height: 2;
  padding-bottom: 10px;

}

h3 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding: 160px 0;
}

.middle-container {
  padding: 25px 0;
  text-align: center;
}

.bottom-container {
  font-size: 1.25em;
  background-color: #66bfbf;
  padding: 50px 0;
}

.navbar {
  font-family: 'Montserrat', sans-sans-serif;
  font-size: 1.25em;
  background-color: #11999e;
  padding: 0 100px;
}

.navbar-brand {
  font-family: 'Montserrat', sans-sans-serif;
  font-size: 1.5em;
}

.typing {
  margin-left: 10px;
}

.typing::after {
  content: "";
  right: -5px;
  height: 10%;
  border-right: 2px solid #11999e;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile {
  margin: 100px 30px 150px;
}

.intro {
  margin: 0 350px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 150px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.picture {
  width: 280px;
  height: 300px;
  border-radius: 110px;
  box-shadow: 5px 4px 7px 3px rgba(85,85,85,0.58);
  margin: 0 0 20px;
}

.information {
  background-color: #e4f9f5;
  padding: 50px 0 100px;
}

.card-title {
  font-weight: bold;
  text-decoration: 2px underline;
}

.card-title:hover {
  color: #11999e;
}

.list-inline-item {
  background-color: #696969;
}

.project-images {
  box-shadow: 5px 4px 7px 3px rgba(85,85,85,0.58);
}

.resume-container {
  padding: 100px 0 0;
}

.resume {
  margin: auto auto 20px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #11999e;
  color: #fff;
  font-size: 4rem;
  border-radius: 20px;
  box-shadow: 5px 4px 7px 3px rgba(85,85,85,0.58);
}

.resume:hover {
  background-color: #11cdd4;
  color: #fff;
}

.contact-container{
  padding: 100px 0 100px;
  margin: 0 350px;
}

.contact-btn {
  margin: 20px 0 0;
}

.socials {
  margin: 40px 0 0;
}

.social-link {
  padding: 0 15px
}

a.social-link {
  text-decoration: none;
}

.fa-linkedin {
  color: #0072B1;
}

.fa-twitter {
  color: #00acee;
}

.fa-github {
  color: #333;
}

.fa-linkedin:hover {
  color: #0051b1;
}

.fa-twitter:hover {
  color: #00acae;
}

.fa-github:hover {
  color: #000;
}

.footer-link {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer-link:hover {
  color: #11999e;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  font-style: italic;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 5px #666666;
  -moz-box-shadow: 1px 1px 5px #666666;
  box-shadow: 1px 1px 5px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

@media (max-width: 1380px) {
  .top-cloud {
    display: none;
  }
  .bottom-cloud {
    display: none;
  }
  .intro {
    margin: auto;
  }
}
